
<div>
    <label for="fName"> first name</label>
    <br/>
    <input type="text" name="fName" class="regester_input" value="Shulamit" #fName required>
    <br/>
    <label for="lName">last name</label>
    <br/>
    <input type="text" name="lName" class="regester_input" #lName value="Greenbaum"  >
    <br/>
    <label for="id"> id number</label>
    <br/>
    <input type="text" name="id" class="regester_input" value="213255555" #id maxlength="9" minlength="9"     >
    <br/>
    <label for="city"> city</label>
    <br/>
    <input type="text" name="city" class="regester_input" value="jerusalem" #city >
    <br/>
     <label for="street">street</label>
    <br/>
    <input type="text" name="street" class="regester_input" value="sorotkin" #street >
    <br/>
    <label for="bildingnumber"> bilding number</label>
    <br/>
    <input type="number" name="bildingnumber" class="regester_input" value="18" #bn >
    <br/>
    <label for="birthday"> birth day</label>
    <br/>
    <input type="date" name="birthday" class="regester_input" value="08/08/2002" #bd>
    <br/>
    <label for="phone"> phone number</label>
    <br/>
    <input type="text" name="phone" class="regester_input" value="025336589" #p maxlength="9" minlength="9"  >
    <br/>
     <label for="cellphone"> cellphone number</label>
    <br/>
    <input type="text" name="cellphone" class="regester_input" value="0558889658" #cp maxlength="10" minlength="10" >
    <br/>
   
    <!-- <input type="checkbox" name="gotvaccin" class="regester_input"  >
    <br/>
    <label for="gotvaccin"> got vaccin?</label>
    <br/>
    if (checkBox.checked == true) -->
    <label for="AvaccinDate"> date of first vaccin</label>
    <br/>
    <input type="date" name="AvaccinDate" class="regester_input" value="08/02/2020" #av  >
    <br/>
    <label for="Atipevaccin"> what company</label>
    <br/>
    <input type="text" name="Atipevaccin" class="regester_input" value="fizer" #at>
    <br/>
    <label for="BvaccinDate"> date of second vaccin</label>
    <br/>
    <input type="date" name="BvaccinDate" class="regester_input" value="08/08/200/" #bv>
    <br/>
     <label for="Btipevaccin"> what company</label>
    <br/>
    <input type="text" name="Btipevaccin" class="regester_input" value="fizer" #bt>
    <br/>
    <label for="CvaccinDate"> date of third vaccin</label>
    <br/>
    <input type="date" name="CvaccinDate" #cv class="regester_input" value="08/08/200/" >
    <br/>
   <label for="Ctipevaccin"> what company</label>
    <br/>
    <input type="text" name="Ctipevaccin"  #ct class="regester_input" value="fizer" >
    <br/>
    <label for="DvaccinDate"> date of fourth vaccin</label>
    <br/>
    <input type="date" name="DvaccinDate" #dv class="regester_input" value="08/08/200/" >
    <br/>
    <label for="Dtipevaccin"> what company</label>
    <br/>
    <input type="text" name="Dtipevaccin" #dt class="regester_input" value="fizer" >
    <br/>
    
<!-- } -->
    <label for="sickdate"> sick date</label>
    <br/>
    <input type="date" name="sickdate" #sd class="regester_input" value="05/07/2021" >
    <br/>
    <label for="recoverydate"> recovery date</label>
    <br/>
    <input type="date" name="recoverydate" #rd class="regester_input" value="05/06/2021" >
    <br/>
   
    <input type="button" value=" save" id="btn btn" (click)="addMember(fName.value,lName.value,id.value,city.value,street.value,bn.value,p.value,cp.value,sd.value,rd.value,av.value,at.value,bv.value,cv.value,dv.value,bt.value,dt.value,ct.value)" >

    
</div>

