<div>
   
<table *ngFor ="let i of allMembers">
   <tr>
    <td class="tdTable">id: {{i.Id}}
    </td>
    <td class="tdTable">first name: {{i.FirstName}}
    </td>
    <td class="tdTable">last name: {{i.LastName}}
    </td>
    <td class="tdTable">
        <a  [routerLink]="['/app-see-member', i.Id]" >see details</a>
    </td>
    <td class="tdTable">
        <input type="button" value="delete" (click)="delete(i.Id)" class="btn">
    </td>
   </tr>
</table>
</div>
<!-- <a routerLink="/app-add-member"> To add</a> -->
<router-outlet></router-outlet>
